[Unit]
Description=Raspberry Pi PirateAudio LCD backlight
#ConditionPathIsDirectory=/proc/device-tree/rpi_backlight
DefaultDependencies=no
Before=umount.target

[Service]
Type=oneshot
ExecStop=/bin/sh -c 'echo 13 > /sys/class/gpio/export; echo 0 > /sys/class/gpio/gpio13/value; echo 13 > /sys/class/gpio/unexport'

[Install]
WantedBy=reboot.target halt.target poweroff.target
